:root {
  --LAKERS_YELLOW: #fdb927;
  --LAKERS_YELLOW_OP: #ffdd94;
  --LAKERS_PURPLE: #552583;
  --LAKERS_BLACK: #000000;
  --DARK_GREY: #434343;
  --LIGHT_GREY: #d4d4d4;
  --ORANGE: #ff9100;
  --RED: #fd2727;
  --GREEN: #2fa62b;
  --BLUE: #276bfd;
  --BACKGROUND: #f6f6f5;
}

@font-face {
  font-family: ganhdi;
  src: url('../gandhi-serif/GandhiSerif-Regular.otf');
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: ganhdi;
  line-height: 1.7em;
  margin: 0;
}

/* page */
.page {
  display: block;
  text-align: center;
  padding: 40px 30px;
}

.page p {
  text-align: left;
  font-size: 20px;
  width: 700px;
  margin: auto;
  color: var(--DARK_GREY);
}

.section-title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 28px;
}

#new-team {
  background-color: var(--BACKGROUND);
}


